{% load static %}
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Danella Patrick</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{%static 'CV/css/default.css' %}">
	<link rel="stylesheet" href="{%static 'CV/css/layout.css' %}">
   <link rel="stylesheet" href="{%static 'CV/css/media-queries.css'%}">
   <link rel="stylesheet" href="{%static 'CV/css/magnific-popup.css'%}">

   <!-- Script
   ================================================== -->
	<script src="{%static 'CV/js/modernizr.js'%}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'CV/images/favicon.png'	 %}" >
</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>


<!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Thanks for Responding </h1>

         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->
