{% load static %}
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Danella Patrick</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{%static 'CV/css/default.css' %}">
	<link rel="stylesheet" href="{%static 'CV/css/layout.css' %}">
   <link rel="stylesheet" href="{%static 'CV/css/media-queries.css'%}">
   <link rel="stylesheet" href="{%static 'CV/css/magnific-popup.css'%}">

   <!-- Script
   ================================================== -->
	<script src="{%static 'CV/js/modernizr.js'%}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'CV/images/favicon.png'	 %}" >
</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Danella Patrick.</h1>
            <h3><span> Computer Science Student</span><span> AI Enthusastic </span>Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="https://web.facebook.com/danella.patrick.7"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://github.com/danellapatrick"><i class="fa fa-github"></i></a></li>
               <li><a href="danellapatricksunny@gmail.com"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://www.linkedin.com/in/danella-patrick-b2a9bb1aa/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/danellapatrick/"><i class="fa fa-instagram"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="{% static 'CV/images/myself.jpg' %}" alt="" >

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

             <p>I am a Data Scientist  Intern Highly skilled in Data Featuring and Analysing the Data and Training the Data. I am doing my Bachelor's <span> from SMIU university in Computer Science. </span><span> I have done various online courses
            </span></p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Danella Patrick</span><br>
						   <span>A/345, KalaPul Hazara Colony<br>
						         Main Korangi Road, Karachi.
                     </span><br>
						   <span>+923162578422</span><br>
                     <span>danellapatricksunny@gmail.com</span>
					   </p>

               </div>
                <div class="columns download">
                    <a href="{% static 'Resume_Danella.pdf' %}" class="button" >Resume PDF</a>
    </div>

                </div>
             
            </div> <!-- end row -->

         </div> <!-- end .main-col -->


   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Sindh Madresstual Islam University</h3>
                  <p class="info">Undergraduate in Computer Science <span>&bull;</span> <em class="date">Present-2022</em></p>

                  <p>
                  The advent of Computer has changed the shape of our world. Latest development in the field of Computer Science provides opportunity to computer professionals to revolutionize society in ways unimagined before. Our mission is to educate and train the students who strive to lead the technology revolution. We are providing excellent environment in the department with advanced equipments, which can lead our youth (future generation) towards cutting-edge technology.
                   </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>PRESIDENTIAL INITIATIVE FOR ARTIFICIAL INTELLIGENCE &
COMPUTING, KARACHI
 </h3>
                  <p class="info">AI for everyone (2nd Quater)<span>&bull;</span> <em class="date">Present -2022</em></p>

                  <p>
                      PIAIC is a 4 quater course for AI enthusastic.
                  </p>

               </div>

            </div>

            <div class="row item">


               <div class="twelve columns">

                  <h3>DataCamp Courses </h3>
                   <ul>
                       <li><p class="info">Intermediate to Data Visualization with Seaborn <span>&bull;</span> <em class="date">March 2021</em></p></li>
                  <li> <p class="info">Web Scraping in Python <span>&bull;</span> <em class="date">March 2021</em></p></li>
                       <li><p class="info">Introduction to Importing Data in Python  <span>&bull;</span> <em class="date">March 2021</em></p></li>

<li><p class="info">Joinig  Data in Python  <span>&bull;</span> <em class="date">March 2021</em></p></li>
<li><p class="info">Introduction to Data Visulalization  in Seaborn  <span>&bull;</span> <em class="date">March 2021</em></p></li>
<li><p class="info">Introduction to Data Visualization in Matplotlib  <span>&bull;</span> <em class="date">March 2021</em></p></li>
<li><p class="info">Python Data Science Toolbox Part 1 and 2 <span>&bull;</span> <em class="date">March 2021</em></p></li>
<li><p class="info">Data Science for everyone  <span>&bull;</span> <em class="date">March 2021</em></p></li>
<li><p class="info">Intermediate in Python  <span>&bull;</span> <em class="date">March 2021</em></p></li>
<li><p class="info">Introduction to Python  <span>&bull;</span> <em class="date">Feb 2021</em></p></li>

                   </ul>


               </div>
            </div>
             <!-- item end -->
 <div class="row item">


               <div class="twelve columns">

                  <h3>Microsoft Certified </h3>
                   <ul>
                       <li><p class="info"> Azure Fundamentals  <span>&bull;</span> <em class="date">Dec 2020</em></p></li>

                   </ul>
               </div>
            </div>
              <div class="row item">


               <div class="twelve columns">

                  <h3>Courera Courses </h3>
                   <ul>
                       <li><p class="info">Applied Data Science with python (Specilaization) <span>&bull;</span> <em class="date">Dec 2020</em></p></li>
                  <li> <p class="info">Data Science Math Skills  <span>&bull;</span> <em class="date">june 2020</em></p></li>
                       <li><p class="info">Machine Learning for all <span>&bull;</span> <em class="date">Jul 2020</em></p></li>
                       <li><p class="info">Ai for everyone <span>&bull;</span> <em class="date">May 2020</em></p></li>
                   </ul>

               </div>
            </div>

              <div class="row item">


               <div class="twelve columns">

                  <h3>Solo Learn </h3>
                   <ul>
                       <li><p class="info">Ds with Python <span>&bull;</span> <em class="date">Nov 2020</em></p></li>

                   </ul>
               </div>
            </div>
 <div class="row item">

               <div class="twelve columns">

                  <h3>Udacity</h3>
                   <ul>
                       <li><p class="info">Programming for Data Scientist <span>&bull;</span> <em class="date">May 2020</em></p></li>

                   </ul>
               </div>
            </div>

            <div class="row item">

               <div class="twelve columns">

                  <h3>St Patrick's College Karachi </h3>
                  <p class="info">Intermediate <span>&bull;</span> <em class="date">May 2018</em></p>

                  <p>
                      I have done my Intermediate in Computer Science from St patrick College in B Grade
                  </p>

               </div>

            </div>
             <!-- item end -->


         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3> Alphatron Technologies </h3>
                  <p class="info">AI Internship <span>&bull;</span> <em class="date">Dec 2020 - March 2021</em></p>

                  <p>
                  I worked and assisted in development of a project Chatbot by Machine Learning As part of the projects, I did NLTK implementation and Speech processing in this project.

                  </p>
               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>Python</em></li>
                  <li><span class="bar-expand illustrator"></span><em>Data Visualization</em></li>
						<li><span class="bar-expand wordpress"></span><em>Machine Learning</em></li>
						<li><span class="bar-expand css"></span><em>Data Cleaning </em></li>
						<li><span class="bar-expand html5"></span><em>HTML5</em></li>
                  <li><span class="bar-expand jquery"></span><em>SQL</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

             <h1>Check Out Some of My Works at<a href="https://github.com/danellapatrick"> Github</a></h1>

         </div>
      </div>
   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">


            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form action="" method="post" id="contactForm" name="contactForm">{%csrf_token%}
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
			  <button class="submit"><a href='/demo'>Submit</a></button>
                     <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> Error boy</div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
						   Danella Patrick<br>
						   A/345 Kala pul Hazara Colony <br>
						   Main Korangi |Road<br>
						   <span>(0316) 2578 422</span>
					   </p>

				   </div>


            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://web.facebook.com/danella.patrick.7"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/danella-patrick-b2a9bb1aa/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/danellapatrick/"><i class="fa fa-instagram"></i></a></li>
               </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>
